<!DOCTYPE HTML>
<htmL>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  	<link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
    <link data-th-href="@{/fontawesome/css/all.css}" rel="stylesheet">
</head>
<body class="text-center">
	<div class="container d-flex h-100 p-3 mx-auto flex-column">
		<header class="masthead mb-auto">
			<div class="inner">
				<h3 class="masthead-brand">Cover</h3>
				<nav class="nav nav-masthead justify-content-center">
					<a class="nav-link active" href="#">Main</a>
        			<a class="nav-link" href="#">Search</a>
      			</nav>
    		</div>
  		</header>
  		<main role="main" class="inner cover">
	        <div class="row justify-content-md-center">
	        	<div class="col-4" data-th-each="weather : ${weathers}">
		    		<div class="card text-white w-33">
		    			<img class="card-img" src="https://images.unsplash.com/photo-1510665724063-f77a01074aa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Bologna">
		    			<div class="card-img-overlay text-center">
		        			<div class="row">
		        				<div class="col">
				        			<h2 class="display-3 font-weight-bolder">[[${weather.city}]]</h2>
				        			<h4 class="font-weight-bold">[[${#strings.capitalizeWords(weather.weather.weather[0].description)}]]</h4>
				        			<div class="row top-buffer">
				        				<div class="col-6 text-left">
				        					<span class="display-3 font-weight-bolder">[[${weather.weather.main.temp}]]°</span>
				        				</div>
				        					
				        				<div class="col-6 text-right">
				        					<!---<i class="fas fa-cloud-moon fa-5x"></i>-->
												<img th:src="@{|http://openweathermap.org/img/wn/${weather.weather.weather[0].icon}@2x.png|}" alt="Image">
				        				</div>
				        			</div>
				        			<div class="row">
				        				<div class="col-6 text-left font-weight-bold">[[${#temporals.dayOfWeekName(weather.date)}]] [[${#temporals.day(weather.date)}]]<sup>th</sup></div>
				        				<div class="col-6 text-right"> 
				        					<span class="font-weight-bold">[[${weather.weather.wind.speed}]]mph</span> 
				        					<span class="text-muted">/</span>
				        					<span class="font-weight-bold">[[${weather.weather.main.tempMin}]]°</span> 
				        				</div>
				        			</div>
				        		</div>
				        	</div>
				        	<div class="row top-buffer">
				        		<table class="table table-dark">
				        			<tr>
				        				<td class="font-weight-bold" th:each="i: ${#numbers.sequence(0, 5)}">
					        				[[${#strings.substring(#temporals.dayOfWeekName(weather.date.plusDays(i)),0,3)}]]   
					        			</td>
					        		</tr>
					        		<tr>
					        			<td> <img width=25 height=25 th:src="@{|http://openweathermap.org/img/wn/${weather.forecast.list[0].weather[0].icon}.png|}" alt="Image"> </td>
					        			<td th:each="i: ${#numbers.sequence(7, 39, 8)}"> 
					        				<img width=25 height=25 th:src="@{|http://openweathermap.org/img/wn/${weather.forecast.list[i].weather[0].icon}.png|}" alt="Image">
					        			</td>
					        		</tr>
					        		<tr>
					        			<td> [[${#numbers.formatInteger(weather.forecast.list[0].main.temp, 0,'COMMA')}]]° </td>
					        			<td class="font-weight-bold" th:each="i: ${#numbers.sequence(7, 39, 8)}">
					        				[[${#numbers.formatInteger(weather.forecast.list[i].main.temp, 0,'COMMA')}]]°
					        			</td>
				        			</tr>
				        			
				        		</table>
				        	</div>
		        		</div>
		      		</div>
		    	</div>
		  	</div>	
      	</main>
      	<footer class="mastfoot mt-auto">
      		<div class="inner">
      			<p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      		</div>
      	</footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</htmL>